<div class="fa-nexus-folder-window">
  <aside class="fa-nexus-folder-browser collapsed is-hidden" aria-hidden="true">
    <div class="fa-nexus-folder-tree" data-role="folder-tree"></div>
  </aside>
  <footer class="fa-nexus-folder-shortcuts">
    <small><strong>Click</strong> to select • <strong>Right-Click</strong> to expand/collapse
    <br />
    <strong>Ctrl+Click</strong> to multi-select • <strong>Alt+Click</strong> to exclude</small>
  </footer>
</div>
