<div class="thumb">
  <img alt="" />
  <div class="fa-nexus-status-icon" title=""></div>
  <div class="fa-nexus-variant-tag"></div>
</div>
<div class="card-footer">
  <div class="label token-title"></div>
  <div class="token-details">
    <span class="token-size"></span>
    <span class="token-scale"></span>
    <span class="token-creature-type"></span>
  </div>
</div>