<div class="midi-qol-single-hit-card">
  {{#unless oneCard}}
  <div>{{attackType}}</div>
  {{/unless}}
  <div class="dnd5e2 evaluation">
    {{#if collapsibleTargets}}
    <div class="card-tray targets-tray collapsible">
      <label class="roboto-upper">
        <i class="fas fa-bullseye" inert></i>
        <span>{{localize "DND5E.TargetPl"}}</span>
        <i class="fas fa-caret-down" inert></i>
      </label>
      <div class="collapsible-content">
    {{/if}}
        <ul class="dnd5e2 unlist evaluation wrapper">
          {{#each hits as |hit iid|}}
          <li data-uuid="{{actorUuid}}" data-id="{{hit.target.id}}"
            class="target {{hit.hitClass}} midi-qol midi-qol-hit-class midi-qol-target-select">
            <i class="midi-qol-hit-symbol fas {{hit.hitSymbol}}"></i>
            <img class="midi-qol-target-img" src="{{hit.img}}" />
            <div class="name-stacked">
              <span class="midi-qol-target-name title midi-qol-gmTokenName" id="{{hit.target.id}}">
                {{{hit.gmName}}}
              </span>
              <span class="midi-qol-target-name title midi-qol-playerTokenName" id="{{hit.target.id}}">
                {{hit.playerName}}
              </span>
            </div>
            {{#if hit.acIcons.length}}
            <span class="midi-qol-ac-icons">
              {{#each hit.acIcons}}{{#if this.icon}}<i class="{{this.icon}} {{this.cssClass}}" {{#if this.tooltip}}data-tooltip="{{this.tooltip}}"{{/if}}></i>{{else if this.useDnd5eIcon}}<dnd5e-icon class="{{this.cssClass}}" src="{{this.img}}" {{#if this.tooltip}}data-tooltip="{{this.tooltip}}"{{/if}}></dnd5e-icon>{{else}}<img class="{{this.cssClass}}" src="{{this.img}}" {{#if this.tooltip}}data-tooltip="{{this.tooltip}}"{{/if}} />{{/if}}{{/each}}
            </span>
            {{/if}}
            {{#if showAC}}
            <div class="midi-qol-ac {{hit.acClass}}" {{#if hit.acTooltip}}data-tooltip="{{hit.acTooltip}}"{{/if}}>
              <span>
                <i class="fas fa-shield-halved"></i>
                <span class="midi-qol-ac-value">{{hit.acDisplay}}</span>
              </span>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
        {{#if collapsibleTargets}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
