{{!--<!--
SPDX-FileCopyrightText: 2023 Ethaks <ethaks@pm.me>
SPDX-License-Identifier: EUPL-1.2
-->--}}

<div class="form-group sphere-count-excluded">
    <label>{{localize "PF1SPHERES.CountExclude"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="flags.pf1spheres.countExcluded" {{checked item.flags.pf1spheres.countExcluded}}>
    </div>
</div>
