<footer class="form-footer">
    <label style="flex-grow: 1">{{localize "midi-qol.SettingsSearch"}}</label>
    <input type="search" value="" style="flex-grow: 1" />
    <button type="submit" name="submit" data-action="submit" style="flex-grow: 4">
        <i class="fas fa-floppy-disk"></i> {{localize "midi-qol.Save"}}
    </button>
</footer>